ul{
	padding: 0px;
}

ul li{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px #ccc solid;
}

*{
	font-family: 'Roboto', sans-serif;
	scroll-behavior: smooth;
}
.bg{
	background-color: #ecf0f1;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}

.title{
	background-color: #3498db;
	width: 100%;
	height: 60px;
	box-shadow: rgb(100, 100, 100) 1px 1px 1px; 	
	display: flex;
	transition: height .3s ease-in-out;
	position: fixed;
	z-index: 10;
}

.title.big{
	height: 400px;
	transition: height .3s ease-in-out;
}

.navbar{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	display: -webkit-inline-box;
	overflow: hidden;
	color: white;
	font-weight: bold;
}

.navbar.right{
	position: absolute;
	right: 10px;
}

.navitem{
	width: 100px;
	height: 60px;
	text-align: center;
}

.navitem.selected{
	overflow: hidden;
}

.navitem a{
	display: block;
	padding: 10px;
}

.navitem:hover{
	background-color: #44a8eb;
}

.titlelogo{
	text-align: center;
	width: 100px;
}

.logo.big{
	font-size: 2em;
	top: 100px;
	left: 0px;
	width: 100%;
	transition: all .3s ease-in-out;
}

.logo.big.desc{
	display: inline;
	top:200px;
	width: 100%;
	font-size: 35px;
}

.logo.desc{
	left: 0px;
	font-size: 0;
}

.logo{
	position: fixed;
	font-size: 1em;
	left: 60px;
	top: 0px;
	width: 0%;
	transition: all .3s ease-in-out;
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	width: 1em;
	height: 1em;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

.titlemenu{
	display: none;
}

.title ul{
	overflow: hidden;
}

.title ul li{
	position: relative;
	overflow: visible;
}

.title ul li:last-child::before{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 4px;
	background: white;
	transition: transform 0.3s;
	content: '';
}

.title ul li:nth-child(1).selected ~ li:last-child::before {
	transform: translate(-300%,0);
}

.title ul li:nth-child(2).selected ~ li:last-child::before {
	transform: translate(-200%,0);
}

.title ul li:nth-child(3).selected ~ li:last-child::before {
	transform: translate(-100%,0);
}

.titlenav i{
	position: relative;
}

.aside{
	background-color: white;
	width: 250px;
	padding:10px;
	margin: 10px;
	border-radius: 5px;
	box-shadow: rgb(100, 100, 100) 1px 1px 1px; 
	display: block;
	position: absolute;
}

.mainbody{
	background-color: white;
	width: calc(96% - 300px);
	padding:10px;
	margin: 10px;
	border-radius: 5px;
	box-shadow: rgb(100, 100, 100) 1px 1px 1px; 
	display: block;
	position: relative;
	left: 290px;
}

.blur{
	-webkit-filter: blur(2px);
}

.sidebarcontainer{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	display: none;
	position: fixed;
	top: 60px;
	z-index: 10;
}

.sidebar{
	width: 400px;
	background-color: white;
	padding:10px;
	border-radius: 5px;
	box-shadow: rgb(100, 100, 100) 1px 1px 1px; 
	display: none;
}

.lianddesc{
	line-height: 15px;
	height: 50px;
	padding: 5px;
}

.lianddesc:hover{
	background-color: #eeeeff;
}
.lianddesc b{
	font-size: 20px;
}

.submitdark{
	background-color: #3498db; 
	outline: 0px;
	width: 180px;
	height: 25px;
	border: solid 0px;
	margin: 5px;
	border-radius: 3px;
	color: white;
}

.submitdark:hover:enabled{
	background-color: #45a9db;
	box-shadow: inset rgb(50, 120, 160) 0px -3px;
	outline: 0px;
	border: solid 0px;
	transition: all .1s ease-in-out;
}

.submitdark:focus:enabled{
	background-color: #45a9db;
	box-shadow: inset rgb(50, 120, 160) 0px -3px;
	outline: 0px;
	border: solid 0px;
	transition: all .1s ease-in-out;
}

.submitdark:active:enabled{
	background-color: rgb(50, 120, 160);
	box-shadow: inset rgb(0, 0, 110) 0px 3px;
	outline: 0px;
	border: solid 0px;
}

.submitdark:disabled{
	background-color: #ccc;
}

.submitlight{
	background-color: white; 
	outline: 0px;
	width: 180px;
	height: 25px;
	border: solid 0px;
	margin: 5px;
	border: 1px #3498db solid;
	border-radius: 3px;
	color: #3498db;
}

.submitlight:hover:enabled{
	background-color: #ebebeb;
	box-shadow: inset #3498db 0px -3px;
	outline: 0px;
	border: 1px #3498db solid;
	transition: all .1s ease-in-out;
}

.submitlight:focus:enabled{
	background-color: #eaeaea;
	box-shadow: inset #3498db 0px -3px;
	outline: 0px;
	border: 1px #3498db solid;
	transition: all .1s ease-in-out;
}

.submitlight:active:enabled{
	background-color: #cacaca;
	box-shadow: inset #555 0px 3px;
	outline: 0px;
	border: 1px #6695b5 solid;
}

.submitlight:disabled{
	color: #ccc;
	border: 1px #ccc solid;
}

.text{
	background: white;
	border: solid 2px;
	border-color: white white #3498db;
	padding: 2px 4px;

}

.text:focus { 
	background-color: white;
	outline : 0px;
	cursor-color: #3498db;
}


.headercontainer{
	width:100%;
	height: 350px;
	overflow: hidden;
	position: absolute;
}

.headercontainer .overlay{
	background: rgba(0,0,0,0.25);
	width: 100%;
	height: 350px;
	position: absolute;
	top: 60px;
}

.headerimg{
	width:100%;
}

.headertxt{
	color:white;
	text-align: center;
	font-size: 3em;
}

.headerpadding{
	transition: height .3s ease-in-out;
}
.subtext{
	font-size: 1em;
	font-weight: 100;
}

.section1{
	position: relative;
	padding: 20px 0px;
	width: 100%;
	background: white;
	text-align: center;
}

.feature{
	margin: 10px;
	padding: 10px;
	width: 300px;
	height: 300px;
	border: 1px #3498db solid;
	border-radius: 3px; 
	display: inline-block;
}

.featurelogo{
	font-size: 6em;
	color: #3498db;
	font-weight: bold;
}

.featuretext{
	line-height: 3;
	color: #3498db;
}

.section2{
	width: 100%;
	height: 400px;
	padding: 20px;
	background: #3498db;
	color: white;
	text-align: center;
}

// Rules for sizing the icon.
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; color: rgba(255,255,255,1); }

// Rules for using icons as black on a light background.
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

// Rules for using icons as white on a dark background.
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


.ink{
	display: block; 
	position: absolute;
	background: rgba(50, 150, 220, 0.25);
	border-radius: 100%;
	transform: scale(0);
}

.inkwhite{
	display: block; 
	position: absolute;
	background: rgba(255, 255, 255, 0.75);
	border-radius: 100%;
	transform: scale(0);
}
.ink.animate {
	animation: ripple 0.4s linear;
}
.inkwhite.animate {
	animation: ripple 0.4s linear;
}
@keyframes ripple {
	100% {opacity: 0; transform: scale(2.5);}
}

